[package]
name = "blog-grpc-api"
version = "0.1.0"
edition = "2024"
build = "build.rs"

[dependencies]
prost = { workspace = true }
tonic = { workspace = true }
tonic-prost = { workspace = true }


[build-dependencies]
tonic-prost-build = "0.14"
